@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@import "colorscheme.scss";

// Update Bulma’s global variables
// $widescreen-enabled: false;
// $fullhd-enabled: false;

$family-sans-serif: "Roboto Slab";

::-webkit-scrollbar {
  margin-left: 10px;
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: $green;
  border: 5px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: $grey;
  border: 5px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

@import "~bulma"; // And then importing Bulma@